.thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thank-you h1 {
  font-family: ubuntu-bold;
  color: var(--Marine-blue);
  font-size: 60px;
  margin: 20px;
}

@media only screen and (max-width: 375px) {
  .thank-you {
    top: 50%;
    transform: translate(0, 50%);
    box-shadow: none;
  }
  .thank-you h1 {
    text-align: center;
  }
}
