.app {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
}

.form-container {
  width: 75%;
  display: grid;
  place-items: center;
}

.inner-content {
  width: 80%;
  height: 100%;
}
