.app {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
}

.form-container {
  width: 75%;
  display: grid;
  place-items: center;
  position: relative;
}

.inner-content {
  width: 80%;
  height: 100%;
}

@media only screen and (max-width: 1062px) {
  .app {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  
  .form-container {
    width: 90%;
  }

  .inner-content {
    padding: 20px 10px 20px 10px !important;
    background: var(--White);
    border-radius: 15px;
    box-shadow: 0 0 2px #000;
    position: absolute;
    width: 100%;
    height: fit-content;
    top: -50px;
  }
}
