.nav {
  width: 25%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background: url(../../assets/images/bg-sidebar-desktop.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  font-family: ubuntu-bold;
  color: var(--White);
  font-size: 16px;
}

.nav .nav-btn {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.nav .nav-btn .number {
  /* background-color: var(--Light-blue); */
  border: 2px solid var(--White);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;

  display: grid;
  place-items: center;
}

.nav .step {
  color: var(--Light-gray);
}

.nav .txt {
  display: flex;
  flex-direction: column;
}

.nav .active .number {
  background-color: var(--Light-blue);
  color: var(--Marine-blue);
}

@media only screen and (max-width: 375px) {
  .nav {
    width: 100%;
    height: 20%;
    padding: 40px;
    flex-direction: row;
    background: url(../../assets/images/bg-sidebar-mobile.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25px;
  }

  .nav .nav-btn {
    margin: 0;
  }

  .nav .nav-btn .number {
    margin: 5px;
  }

  .nav .step {
    display: none;
  }

  .nav .txt {
    display: none;
  }

  .nav .active .number {
    background-color: var(--Light-blue);
    color: var(--Marine-blue);
  }
}
